@using BirovAm.data;
@model List<Order>
<h2>AllOrders</h2>
<div class="row" style="margin-bottom:10px">
    <div class="col-md-2"><a href="/Orders/PrintAllInvoices" class="btn btn-success">Print All Orders</a></div>
    <div class="col-md-offset-2 col-md-4 form-inline">
        <input type="text" id="search" placeholder="Phone Number" class="form-control"/>
        <button class="btn btn-info" id="clear">Clear</button>
    </div>
    <div class="col-md-offset-2 col-md-2"><a class="btn btn-primary btn-block" href="/Orders/ProductsOrderedCount">Products Sold</a></div>
</div>

<table class="table table-bordered table-striped table-hover" id="orders">
    <tr>
        <th>Order Number</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone Number</th>
        <th>Order Date</th>
        <th>Total Cost</th>
        <th>Amount Paid</th>
        <th>Actions</th>
        <th>Print</th>
    </tr>
    @foreach (Order o in Model)
    {
        <tr>
            <td>@o.OrderID</td>
            <td>@o.Customer.FirstName</td>
            <td>@o.Customer.LastName</td>
            <td>@string.Format("{0}-{1}-{2}",
                  o.Customer.PhoneNumber.Substring(0, 3),
                  o.Customer.PhoneNumber.Substring(3, 3),
                  o.Customer.PhoneNumber.Substring(6, 4))</td>
            <td>@o.OrderDate.ToShortDateString()</td>
            <td>@string.Format("{0:C}", o.TotalCost)</td>
            <td>@string.Format("{0:C}", o.TotalAmountPaid)</td>
            <td>
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-1">
                        <a href="/Orders/OrderDetails?orderId=@o.OrderID" class="btn btn-primary">Details</a>
                    </div>
                    <div class="col-sm-4 col-sm-offset-1">
                        <form action="/Orders/DeleteOrder" method="POST">
                            <input type="hidden" name="oId" value="@o.OrderID" />
                            <button class="btn btn-danger delete-order">Delete</button>
                        </form>
                    </div>
                </div>
            </td> 
            <td><a href="/Orders/PrintInvoice?orderId=@o.OrderID" class="btn btn-success">Print</a></td>
        </tr>
    }
</table>


@section scripts{
    <script src="~/Scripts/AllOrders.js"></script>
}


